
<!-- Google font import -->
<!-- ================== -->

<!-- CSS files -->
<!-- ========= -->
<link href="../dist/css/global.css" rel="stylesheet">

<!-- JavaScript files -->
<!-- ================ -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../dist/js/scripts.min.js"></script>
