<?php
    $sScriptName = $_SERVER['SCRIPT_NAME'];
    if ( strpos($sScriptName,'/html/') !== false) {
        $sNameParentFile = str_replace('/html/', '',  $_SERVER['SCRIPT_NAME']);
    }
    else {
        $sNameParentFile = str_replace('/', '',  $_SERVER['SCRIPT_NAME']);
    }
    $sNameParentFile = str_replace('-', ' ', $sNameParentFile);
    $sNameParentFile = str_replace('.php', '', $sNameParentFile);
?>
<title><?php echo ucfirst( $sNameParentFile ) ?></title>
<meta charset="UTF-8">
<meta name="author" content="Billy Chan" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta name="skype_toolbar" content ="skype_toolbar_parser_compatible"/>
