
/* ----------------------- */
/* ::: Centering mixin ::: */
/* ----------------------- */

// Center vertically and horizontaly (doesn't works below IE9)
// ========================================================
// @see: http://davidwalsh.name/css-vertical-center

@mixin vertical-center( $absolute: null ) {

    @if $absolute and ($absolute == true or $absolute == "absolute") {
        position: absolute;

    }
    @else {
        position: relative;
    }

    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-center( $absolute: null ) {
    
    @if $absolute and ($absolute == true or $absolute == "absolute") {
        position: absolute;

    }
    @else {
        position: relative;
    }

    left: 50%;
    transform: translateX(-50%);
}

@mixin vertical-horizontal-center( $absolute: null ) {
    
    @if $absolute and ($absolute == true or $absolute == "absolute") {
        position: absolute;

    }
    @else {
        position: relative;
    }
     
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


// Class/placeholder to call mixin below
.vertical-center,
%vertical-center {
    @include vertical-center;
}

.horizontal-center,
%horizontal-center {
    @include horizontal-center;
}

.vertical-horizontal-center,
%vertical-horizontal-center {
    @include vertical-horizontal-center;
}


// Center vertically some text (use only if one line)
// ==================================================
// @param $size => height of container (pass unit if doesn't want px)
// @use: @include vertical-text-center(15); 
//       => height: 15px; line-height: 15px;
@mixin vertical-text-center($size: null) 
{
    @if $size {
        height: testUnit($size); line-height: testUnit($size);
    }
    @else {
        @warn "You need pass a size at vertical-text-center mixin.";
    }
}