
// ------------------------ //
// ::: Respond-to mixin ::: //
// ------------------------ //

// Default configuration use Bootstrap grid

// Generate media queries
// ----------------------
// @use .test {
//          width: 100px;
//          
//          @include respond-to(xs-max) {
//              width: 200px;
//          }
//      }
//      
// @use @include respond-to(xs-max) {
//          
//          .test {
//              width: 200px;
//          }
//      }

@mixin respond-to($media) {

    @if $media == xs-max { // only extra small mobile

        @media screen and (max-width: $screen-xs-min - 1) {
            @content; 
        }
    }
    @else if $media == xs-min { // mobile not extra small

        @media screen and (min-width: $screen-xs-min) { 
            @content; 
        }
    }
    @else if $media == sm-max { // max mobile
        
        @media screen and (max-width: $screen-sm-min - 1) {
            @content; 
        }
    }
    @else if $media == sm-min { // larger than mobile

        @media screen and (min-width: $screen-sm-min) { 
            @content; 
        }
    }
    @else if $media == sm { // only tablet portrait

        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
            @content; 
        }
    }
    @else if $media == md-max { // max tablet portrait

        @media screen and (max-width: $screen-md-min - 1) {
            @content; 
        }
    }
    @else if $media == md-min { // larger than tablet

        @media screen and (min-width: $screen-md-min) { 
            @content; 
        }
    }
    @else if $media == md { // only desktop / tablet paysage

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
            @content; 
        }
    }
    
    @else if $media == sm-md { // tablet portrait and desktop / tablet paysage

        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) { 
            @content; 
        }
    }
    
    @else if $media == lg-max { // max desktop
        
        @media screen and (max-width: $screen-lg-min - 1) {
            @content; 
        }
    }

    @else if $media == lg-min { // larger than desktop

        @media screen and (min-width: $screen-lg-min) { 
            @content; 
        }
        
        // If lg "breakpoint" not use, add warning
        // @warn "Attention, ce projet n'a pas de breackpoint 'lg', utiliser 'md'";
    }
}


// .media-queries {

//     @include respond-to(xs-max) {
//         content: 'only extra small mobile';
//     }

//     @include respond-to(xs-min) {
//         content: 'mobile not extra small';
//     }

//     @include respond-to(sm-max) {
//         content: 'max mobile';
//     }

//     @include respond-to(sm-min) {
//         content: 'larger than mobile';
//     }

//     @include respond-to(sm) {
//         content: 'only tablet portrait';
//     }

//     @include respond-to(md-max) {
//         content: 'max tablet portrai';
//     }

//     @include respond-to(md-min) {
//         content: 'larger than tablet';
//     }

//     @include respond-to(md) {
//         content: 'only desktop';
//     }

//     @include respond-to(sm-md) {
//         content: 'tablet portrait and desktop / tablet paysage';
//     }

//     @include respond-to(lg-max) {
//         content: 'max desktop';
//     }

//     @include respond-to(lg-min) {
//         content: 'larger than desktop';
//     }
// }