<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="WEB13_SiteFormations/images/favicon.ico">
    <title>Proto Boilerplate</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ul {
            list-style-type:decimal;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Koolicar <small>Index de l'intégration HTML/CSS</small></h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Arborescence de l'intégration</h3>
                        </div>
                        <div class="panel-body">
                            <ol>
                                <li>
                                    <a href="page-livraison.php">Page livraison</a>
                                </li>

                            </ol>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Charte / Composants</h3>
                        </div>

                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="charte-globale.php?real">Charte globale</a>
                                </li>
                                <li>
                                    <a href="charte-module.php?real">Charte module</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
