
// ------------------------- //
// ::: Setting Middleway ::: //
// ------------------------- //

@import "../../base/setting";


// Base typography
// --------------
$base-font-size: 14px;
$base-line-height: 22px;


// List of color (never use these variables, see below)
// --------------

$white           : #ffffff;
$black           : #000000;

$green           : #27e5c9;
$purple          : #aa3fe7;
$purple-dark     : #851bc5;
$grey            : #bababc;
$red             : #ff5275;

// List of color elements (use these variables)
// --------------------------------------------

// Font color
$color-base: $black;

$color-link: $purple;
$color-link--hover : $purple-dark;

// Border color


// Border radius
$border-radius--default: 1000px; // always round

// List of sizes
// -------------


// Z-index order
// -------------

// Push z-index selector in order (displaying in layout.scss)
$z-index: (
    "exemple",
);
