body {
    background-color: #aaa;
}

charte{
    display: block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
    color: #333;
}

.charte-header {
    background-color: #FFFFFF;
    padding: 40px 0;
    position: relative;
}

.charte-header__title {
    font-size: 48px;
    line-height: 48px;
    color: #002496;
}
.charte-header__table {
    color: #002496;
}
.charte-header__table td {
    padding: 0 20px;
}
.charte-header__table td:first-child {
    color: rgba(#002496, .8);
}
.charte-small {
    font-size: 12px;
    color: #FFFFFF;
    font-style: italic;
    margin-bottom: 10px;
}
.charte-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    margin: 60px 0 30px;
    padding-bottom: 15px;
}
.charte-important {
    font-weight: bold;
    color: #dc0303;
}
.charte-color {
	width: 50px;
	height: 50px;
	border: 5px solid #ffffff;
	outline: 1px solid #dcdcdc;
	margin: 10px;
}
.charte-btn .btn,
.charte-btn .link {
    margin: 0 10px 10px 0;
}
.charte-btn .btn + .charte-small {
    display: inline-block;
}
