
// ----------------- //
// ::: Font list ::: //
// ----------------- //

// List only mixin in this file !
// Use it in typography.scss


@mixin sans-light() {
    font-family:  Helvetica, sans-serif;
    font-weight: 100;
}

@mixin sans() {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

@mixin sans-bold() {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
}
