
// -------------------------- //
// ::: Setting (variable) ::: //
// -------------------------- //

// Color setting are in theme1/setting-theme1


// Breakpoints
// -----------

// If use Bootstrap, breakpoints are defined in bootstrap

// $screen-xs:  480px (extra small)
// $screen-sm:  768px (small)
// $screen-md:  1030px (medium)
// $screen-lg:  1530px (large)


// Size setting
// ------------


// Transition
// ----------

$ease-fade    : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-slide   : ease-in-out;
$ease-prog    : cubic-bezier(0.000, 0.650, 0.705, 0.920);
$ease-in-expo : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

// Default values
$transition-duration: 500ms;
$transition-easing  : ease;
$transition-scale   : 1.05;

// Specific
$nav-transition-duration: 400ms;
$nav-transition-easing  : $ease-out-expo;
