/* --------------- */
/* ::: Account ::: */
/* --------------- */

.account-infos {
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;

    .link {
        margin-bottom: 20px;
    }

    //  D E S K T O P
    // --------------
    @media screen and (min-width: 1024px) {
        display: flex;

        .link {
            margin-bottom: 0;
            align-self: center;
            margin-left: 20px;
        }
    }
}
