/* -------------------- */
/* ::: Date Filters ::: */
/* ------------------- */

.date-filters {
    display: flex;
    flex-direction: column;
    padding: 10px 0 30px;

    .btn {
        border-radius: 0;
    }


    //  D E S K T O P
    // --------------
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        height: 100%;
        padding: 0;

        .btn, .input {
            display: flex;
            align-self: flex-end;
            flex: 0 0 33%;
            justify-content: center;
        }

        .btn {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 16px 30px;
        }
    }
}
