/* -------------- */
/* ::: Header ::: */
/* -------------- */
.header {
    border-bottom: 2px solid $grey;

    &__container {
        height: 90px;
        position: relative;
    }

    .brand {
        display: block;
        @include vertical-center(absolute);
        left: 0;

        .logo {
            display: inline-block;
            max-width: 130px;
        }
    }

    &__menu {
        display: none;

        ul {
            list-style: none;

            li {
                @include font-size(12 16);
            }
        }
    }

    &__btn-mobile {
        display: block;
        width: 50px;
        @include vertical-center(absolute);
        right: 0;

        .top, .middle, .third {
            display: block;
            width: 100%;
            height: 1px;
            margin: 8px 0;
            background-color: $black;
            transition: transform $transition-duration $transition-easing;
        }
    }

    &.js-isOpen {
        .header {

            &__menu {
                display: block;
                position: absolute;
                top: 90px;
            }

            &__btn-mobile {
                .top {
                    transform: rotate(45deg) translateX(17px) translateY(3px);
                    transform-origin: 50% 50%;
                }

                .middle {
                    opacity: 0;
                }

                .third {
                    transform: rotate(-45deg) translateX(9px) translateY(4px);
                    transform-origin: 50% 50%;
                }
            }
        }
    }

    //  D E S K T O P
    // --------------
    @media screen and (min-width: 1024px) {
        &__menu {
            display: flex;
            justify-content: flex-end;
            height: 100%;


            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                justify-content: center;

                li {
                    display: flex;
                    align-self: center;
                    margin-right: 40px;
                }
            }

            .btn {
                display: flex;
                align-self: center;
            }
        }

        &__btn-mobile {
            display: none;
        }
    }
}
