/* --------------------- */
/* ::: Renting Table ::: */
/* --------------------- */
.renting-table {
    &__head {
        display: none;

        &__label {
            @extend .title;
            @extend .title--sans-bold;
            @extend .title--smaller;
            flex: 1 0 0;
        }
    }

    &__row {
        padding-bottom: 30px;
        border-bottom: 1px solid  $grey;
        margin-bottom: 30px;
    }

    &__data {
        @extend .text;
        &__label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }

    //  D E S K T O P
    // --------------
    @media screen and (min-width: 1024px) {
        &__head {
            display: flex;
            justify-content: space-around;
            margin: 50px 0 40px;
        }

        &__row {
            display: flex;
            justify-content: space-between;
        }
        &__data {
            flex: 1 0 0;

            &__label {
                display: none;
            }
        }
    }
}
