
/* -------------- */
/* ::: Button ::: */
/* -------------- */

.btn {
    display: inline-block;
    vertical-align: middle;
    //background-color: $bgc-btn;
    // min-width  : map-get($width-btn-size, horizontal);
    padding: 15px 30px;
    border: 1px solid $white;
    box-sizing: border-box;
    cursor: pointer;
    @extend %sans;
    //@include font-size(12 14);
    text-align: center;
    text-decoration: none;
    transition: all $transition-duration $transition-easing;
    overflow: hidden;
    border-radius: 5px;

    // Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
    &::-moz-focus-inner {
        border:  0;
        padding: 0;
    }

    &__inner {
        display: inline-block;
    }

    // Basic modifier
    &--align-left {
        text-align: left;
    }

    &--align-right {
        text-align: right;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--block {
        display: block;
    }

    &--no-border-radius {
        border-radius: 0;
    }

    &--full {
        width: 100%;
        min-width: 0;
    }

    &--green {
        background-color: $green;
        color: $white;
    }

    &--purple {
        background-color: $purple;
        color: $white;
    }

}
