
/* ------------ */
/* ::: Form ::: */
/* ------------ */

// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
    overflow: auto;
    resize: vertical;
}

// A hack for HTML5 contenteditable attribute on mobile
textarea[contenteditable] {
    -webkit-appearance: none;
}

input,
textarea {
    -webkit-appearance: none
}
