
/* -------------- */
/* ::: Image :::  */
/* -------------- */


.img {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    // Content
    &__inner {
        @include vertical-horizontal-center( absolute );
    }
}
