
/* ------------- */
/* ::: Input ::: */
/* ------------- */


.input,
.textarea {
    padding: 20px 15px;
    border: none;
    border-radius: 0; // because iOS default has border-radius
    font-size: 14px;

    &:focus {
        outline-color: $purple;
    }

    // Border
    &--border {
        border: 1px solid $grey;
    }
}

.textarea {
    width: 100%;
    padding: 20px;
}

.input {
    height: 55px;

    @include input-placeholder {
        color: $purple;
    }

    &--full {
        width: 100%;
        max-width: 100%;
    }

}
