
/* --------------- */
/* ::: Layout  ::: */
/* --------------- */

// Clearfix placeholder == bootstrap clearfix
%clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
    // Prevent any object from being highlighted upon touch event
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &,
    &:before,
    &:after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
        }

}

// Prevent any object from being highlighted upon touch event
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio, canvas, img, video { vertical-align: middle }

hr {
    margin: 0;
    background-color: $grey;
}

img {
    max-width: 100%;
    height: auto;
}

// Center child element
//     (use it instead of the bootstrapo class text-center, useful for text)
.center-child {
    text-align: center;

    > * {
        display: inline-block;
    }
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

// Vertical rhythm
// ---------------

.pd-top-5 {
    padding-top: 5px;
}

.pd-top-10 {
    padding-top: 10px;
}

.pd-top-20 {
    padding-top: 20px;
}

.pd-top-15 {
    padding-top: 15px;
}

.pd-top-30 {
    padding-top: 30px;
}

.pd-top-50 {
    padding-top: 50px;
}

.pd-top-100 {
    padding-top: 100px;
}

.pd-bottom-5 {
    padding-bottom: 5px;
}

.pd-bottom-10 {
    padding-bottom: 10px;
}

.pd-bottom-20 {
    padding-bottom: 20px;
}

.pd-bottom-15 {
    padding-bottom: 15px;
}

.pd-bottom-30 {
    padding-bottom: 30px;
}

.pd-bottom-50 {
    padding-bottom: 50px;
}

.pd-bottom-100 {
    padding-bottom: 100px;
}

.mg-top-5 {
    margin-top: 5px;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-top-20 {
    margin-top: 20px;
}

.mg-top-15 {
    margin-top: 15px;
}

.mg-top-30 {
    margin-top: 30px;
}

.mg-top-50 {
    margin-top: 50px;
}

.mg-top-70 {
    margin-top: 70px;
}

.mg-top-100 {
    margin-top: 100px;
}

.mg-bottom-5 {
    margin-bottom: 5px;
}

.mg-bottom-10 {
    margin-bottom: 10px;
}

.mg-bottom-20 {
    margin-bottom: 20px;
}

.mg-bottom-15 {
    margin-bottom: 15px;
}

.mg-bottom-30 {
    margin-bottom: 30px;
}

.mg-bottom-50 {
    margin-bottom: 50px;
}

.mg-bottom-70 {
    margin-bottom: 70px;
}

.mg-bottom-100 {
    margin-bottom: 100px;
}
// => useful to add space below block (sometimes above)

.no-gutter, .no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.jsBlockLink {
    cursor: pointer;
}

// Display z-index of in order of array
//     starting at 10
@for $i from 1 through length($z-index) {

    $selector: nth($z-index, $i);

    .#{$selector} {
        z-index: $i + 9;
    }
}

.hidden-xs {
    display: flex;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.hidden-md {
    display: inline-block;
    @media screen and (min-width: 1024px) {
        display: none;
    }
}
