
/* ------------- */
/* ::: Text :::  */
/* ------------- */

.text {
    @extend %sans;
    @include font-size(12 16);

    // Colors
    &--white {
        color: $white;
    }

    &--black {
        color: $black;
    }

    &--green {
        color: $green;
    }

    &--purple {
        color: $purple;
    }

    &--red {
        color: $red;
    }

    // Transformation
    &--upper {
        text-transform: uppercase;
    }

    &--italic {
        font-style: italic;
    }

    &--bold {
        font-weight: bold;
    }


    // Alignement
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }

    &--justify {
        text-align: justify;
    }


    // Fonts
    &--sans {
        @include sans;
    }

    &--sans-light {
        @include sans-light;
    }

    &--sans-bold {
        @include sans-bold;
    }


    // Sizes
    &--small {
        @include font-size(14 16);
    }

    &--medium {
        @include font-size(18 20);
    }

    &--extra-medium {
        @include font-size(25 27);
    }

    &--big {
        @include font-size(36 38);
    }
}
