
/* ------------ */
/* ::: Title::: */
/* ------------ */


.title {
    @extend %sans;

    // Colors
    &--white,
    &--white a,
    &--white:hover,
    &--white a:hover {
        color: $white;
    }

    &--black,
    &--black a,
    &--black:hover,
    &--black a:hover {
        color: $black;
    }


    // Transformation
    &--upper {
        text-transform: uppercase;
    }

    &--italic {
        font-style: italic;
    }

    &--bold {
        font-weight: bold;
    }

    &--light {
        font-weight: light;
    }


    // Alignement
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }

    &--justify {
        text-align: justify;
    }


    // Fonts
    &--sans {
        @include sans;
    }

    &--sans-bold {
        @include sans-bold;
    }


    // Sizes
    &--smaller {
        @include font-size(12 14);
    }

    &--small {
        @include font-size(16 18);
    }

    &--extra-small {
        @include font-size(18 20);
    }

    &--medium {
        @include font-size(35 37);
    }

    &--big {
        @include font-size(50 52);
    }

}

h1 {
    margin: 50px 0 30px;
    @include font-size(24 28);
}

h2 {
    @include font-size(20 24);
    margin: 20px 0;
}
