
/* ----------------- */
/* ::: Typography::: */
/* ----------------- */

* {
    word-wrap: break-word;
}

// Fonts placeholder
// -----------------
// @use: @extend %sans-light;
// @warning: can't use in media-queries

%sans {
    @include sans;
}

%sans-light {
    @include sans-light;
}

%sans-bold {
    @include sans-bold;
}


// HTML / BODY tag setting
// -----------------------

// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
// 4. Prevent certain mobile browsers from automatically zooming fonts.
// 5. Fonts on OSX will look more consistent with other systems that do not
//    render text using sub-pixel anti-aliasing.
html {
    // overflow-y: scroll; // [2]
    min-height: 100%; // [3]
    -webkit-text-size-adjust: 100%; // [4]
        -ms-text-size-adjust: 100%; // [4]
    -moz-osx-font-smoothing: grayscale; // [5]
     -webkit-font-smoothing: antialiased; // [5]
}

body,
body[class] {
    @extend %sans;
    // Set base font-size and line-height
    font-size: toEm($base-font-size);
    line-height: $base-line-height;
    color: $color-base;
    -webkit-font-smoothing: antialiased; // Fix font render on Safarii
    margin: 0;

    // @include respond-to(md-min) {
    //     font-size: toEm($base-font-size--desktop);
    // }
}

// Default typography style
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.link {
    display: inline-block;
    color: $color-link;
    @include font-size(12 16);

    &:hover {
        color: $color-link--hover;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

button {
    background-color: transparent;
    appearance: none;
    border: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

em {
    font-style: italic;
}

strong {
    font-weight: 400;
}

ul,
ol {
    padding-left: 15px;
}
